.contador{
    margin: 100px auto;
    background-color: rgb(66, 66, 66);
    width: 170px;
    height: 170px;
    display: flex;
    border-radius: 20px;
}

h1{
    color: white;
    text-align: center;
    align-items: center;
    margin: auto;
}

body{
    background-image: url("https://i.pinimg.com/originals/1d/26/c5/1d26c5b022c071fb8f1e3ae2f0f65ba9.gif");
}